.box_2 input,.box_9 input{
    ime-mode: disabled
}

form{
    padding-top: 20px
}

.red{
    color: #F66
}

.bg_error{
    background: url(//6.url.cn/zc/chs/img/input_error.png?v=10093) no-repeat;
    border: none;
    height: 35px;
    width: 300px
}

.year_bg_error{
    background: url(//6.url.cn/zc/chs/img/input_error.png?v=10093) 0 -36px no-repeat;
    border: none;
    height: 23px;
    width: 106px
}

.month_day_bg_error{
    background: url(//6.url.cn/zc/chs/img/input_error.png?v=10093) -107px -36px no-repeat
}

.box .ipt_box .ipt_self .self_email_bg_error{
    background: url(//6.url.cn/zc/chs/img/input_error.png?v=10093) 0 -114px no-repeat
}

.box_9 .code_bg .code_ipt_error{
    background: url(//6.url.cn/zc/chs/img/input_error.png?v=10093) 0 -60px no-repeat
}

.box{
    clear: both;
    height: auto
}

.box .item{
    float: left;
    text-align: right;
    width: 179px;
    padding-right: 10px;
    height: 44px;
    padding-top: 6px;
    height: 43px\9;
    _height: 44px;
    _padding-top: 8px;
    line-height: 20px;
    font-size: 14px
}

.box .ipt_box{
    float: left;
    width: 306px;
    height: 50px;
    position: relative
}

.box .ipt_box input.new_txt,.box .ipt_box input.txt{
    width: 300px;
    padding: 8px;
    border: none;
    line-height: 18px;
    font-size: 14px
}

.box .ipt_box input.txt{
    height: 19px;
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) no-repeat;
    _background-attachment: fixed
}

.box .ipt_box input.focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -35px no-repeat;
    _background-attachment: fixed
}

.box .ipt_box input.new_txt{
    height: 35px;
    _height: 17px;
    background: 0 0
}

.box_1 .info,.box_1 .item{
    padding-top: 0;
    height: 40px
}

.box .ipt_box .bg_txt{
    border: none;
    height: 35px;
    width: 300px;
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) no-repeat
}

.box .ipt_box .bg_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -35px no-repeat
}

.box .ipt_box input.radio{
    visibility: hidden
}

.box .info{
    float: left;
    width: 236px;
    height: 40px;
    height: 38px\9
}

.box .nopadding{
    width: 306px;
    padding-left: 0
}

.box .error{
    color: #f66;
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -342px no-repeat;
    padding-left: 16px
}

.box .ok{
    color: #48A309;
    background: url(//6.url.cn/zc/chs/img/ok.png?v=10093) 0 11px no-repeat;
    padding-left: 14px
}

.box .tip{
    color: grey;
    background: 0 0
}

.info table{
    margin-left: 6px
}

.info td{
    width: 233px;
    height: 35px;
    vertical-align: middle
}

.box_1 .ipt_box{
    height: 40px
}

.box .method_box{
    width: 306px;
    padding-left: 0
}

.box .method_box a{
    padding-left: 20px;
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -321px no-repeat;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 6px;
    cursor: pointer
}

.box .ipt_box .ipt_other,.box .ipt_box .ipt_self{
    height: 50px;
    position: relative
}

.box .method_box a.checked{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -353px no-repeat
}

.box .ipt_box .ipt_other{

}

.box .ipt_box .ipt_self input{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -176px no-repeat;
    border: none;
    line-height: 18px;
    font-size: 14px;
    width: 181px;
    padding: 8px;
    display: block;
    float: left;
    margin-right: 4px;
    height: 19px
}

.box .ipt_box .ipt_self input.focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -211px no-repeat
}

.box .ipt_box .ipt_self .outer{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -166px -70px no-repeat;
    height: 35px;
    width: 99px;
    cursor: default;
    float: left;
    position: relative
}

.box .ipt_box .ipt_self .outer div{
    line-height: 19px;
    font-size: 12px;
    height: 19px;
    padding: 8px 0 8px 3px;
    color: #696c6e;
    outline: 0
}

.box .ipt_box .ipt_self .outer div.focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -166px -105px no-repeat
}

.box .ipt_box .ipt_self .outer ul{
    position: absolute;
    top: 35px;
    left: 0;
    background: #F3F9FC;
    border: 1px solid #57a8e4;
    width: 97px
}

.box .ipt_box .ipt_self .outer ul li{
    line-height: 20px;
    cursor: default
}

.box .ipt_box .ipt_self .outer ul li.hover{
    background: #57a8e4
}

.sea_area_value_bg,.sea_area_value_bg_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -523px no-repeat;
    cursor: default;
    height: 35px;
    position: relative;
    width: 300px
}

.sea_area_value_bg_focus{
    background-position: 0 -561px
}

.sea_country_input{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    width: 284px;
    background: none;
    border: none;
    color: #696C6E;
    padding: 8px
}

.sea_country_input: hover{
    color: #696C6E
}

.sea_country_input: : -ms-clear{
    display: none
}

.sea_phone_num_bg,.sea_phone_num_bg_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -176px no-repeat;
    display: block;
    float: left;
    font-size: 14px;
    height: 19px;
    line-height: 18px;
    margin-right: 4px;
    padding: 8px;
    width: 181px
}

.sea_phone_num_bg_focus{
    background-position: 0 -211px
}

.sea_phone_num_prefix{
    display: inline-block;
    height: 19px;
    color: #4199D7
}

.sea_country_box{
    float: left;
    position: relative;
    width: 300px;
    height: 35px;
    line-height: 35px;
    z-index: 1000
}

.sea_country_box .combox-list{
    background: #F3F9FC;
    border: 1px solid #57A8E4;
    cursor: auto;
    left: 0;
    max-height: 200px;
    _height: 80px;
    overflow-x: hidden;
    padding: 1px;
    position: absolute;
    top: 35px;
    width: 296px;
    z-index: 1000
}

.sea_country_box .combox-list li{
    cursor: default;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 3px
}

.phone_num_placeholder{
    position: absolute;
    height: 18px;
    line-height: 18px;
    padding: 8px 8px 8px 10px;
    cursor: text;
    color: #AAA
}

.phone_box_land{
    z-index: 1000;
    width: 746px
}

.phone_box_land .sea_phone{
    display: none;
    z-index: 8;
    position: relative
}

.phone_box_land .land_phone{
    z-index: 7;
    position: relative
}

.hover{
    background: #57a8e4
}

.box .other,.box .self{
    width: 306px;
    padding-left: 0
}

.box .self .ipt_other{
    display: none
}

.box .self .ipt_self{
    display: block
}

.box .other .ipt_other{
    display: block;
    position: relative
}

.box .other .ipt_other .other_email_ul{
    background: #F3F9FC;
    position: absolute;
    left: 0;
    top: 35px;
    height: auto;
    width: 298px;
    border: 1px solid #57A8E4
}

.box .other .ipt_other .other_email_ul li{
    line-height: 20px;
    height: 20px;
    cursor: default
}

.box .other .ipt_other .other_email_ul p{
    line-height: 20px;
    padding-left: 2px
}

.box .other .ipt_other .other_email_ul .hover{
    background: #57a8e4
}

.box .other .ipt_self{
    display: none
}

.box .other .ipt_self .outer,.box .other .ipt_self input{
    background: 0 0
}

.box_2 .ipt_box{
    z-index: 99
}

.box_2 .ipt_box li{
    padding-left: 2px
}

.box_4 .empty,.box_4 .rankHigh,.box_4 .rankLow,.box_4 .rankMiddle{
    float: left;
    width: 163px;
    height: 15px;
    padding-left: 70px;
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) no-repeat
}

.box_4 .empty{
    background-position: -6px 0
}

.box_4 .rankLow{
    background-position: 0 -100px;
    color: #ff9c3a
}

.box_4 .rankMiddle{
    background-position: 0 -142px;
    color: #61d01c
}

.box_4 .rankHigh{
    background-position: 0 -190px;
    color: #61d01c
}

.box .sex_box a,.box .sex_box a.unchecked{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -322px no-repeat
}

.box .nick_ipt_box{
    z-index: 0
}

.box .sex_box a{
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 30px;
    cursor: pointer
}

.box .sex_box a.checked{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -354px no-repeat
}

.box .sex_box a.unchecked_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -385px no-repeat
}

.box .sex_box a.checked_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -417px no-repeat
}

.box_6 .item{
    height: 40px;
    padding-top: 0
}

.box_6 .ipt_box{
    height: 38px;
    padding-top: 2px
}

.box_6 .info{
    height: 40px;
    padding-top: 0
}

.box_6 .ok{
    background: url(//6.url.cn/zc/chs/img/ok.png?v=10093) 0 5px no-repeat
}

.box_7 #birthday_type_value,.box_7 #day_value,.box_7 #month_value,.box_7 #year_value{
    display: inline-block;
    margin: 0;
    padding-left: 5px
}

.box_7 #birthday_type_value{
    width: 55px
}

.box_7 #year_value{
    width: 101px;
    height: 23px;
    _height: 21px;
    line-height: 23px;
    border: none;
    color: #4199D7;
    background: 0 0
}

.box_7 #day_value,.box_7 #month_value{
    width: 55px;
    height: 23px;
    line-height: 23px;
    border: none;
    color: #4199D7
}

.box .ipt_box #birthday_type_box{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -197px -176px no-repeat;
    width: 60px;
    height: 23px;
    float: left;
    margin-right: 4px
}

.box .ipt_box .birthday_type_box_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -197px -199px no-repeat
}

.box .ipt_box #year_box{
    width: 106px;
    height: 23px;
    float: left;
    margin-right: 4px
}

.box .ipt_box .year_bg_focus,.box .ipt_box .year_bg_txt{
    width: 106px;
    height: 23px
}

.box .ipt_box #day_box,.box .ipt_box #month_box{
    width: 60px;
    height: 23px;
    float: left
}

.box .ipt_box .year_bg_txt{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -246px no-repeat
}

.box .ipt_box .year_bg_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -269px no-repeat
}

.box .ipt_box #month_box{
    margin-right: 4px
}

.box .ipt_box .month_value{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -197px -176px no-repeat
}

.box .ipt_box .month_value_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -197px -199px no-repeat
}

.box .ipt_box .day_value{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -197px -176px no-repeat
}

.box .ipt_box .day_value_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -197px -199px no-repeat
}

.box_7 .item{
    padding-top: 0;
    height: 39px\9\0;
    padding-top: 1px\9\0;
    _height: 38px;
    _padding-top: 2px
}

.box_7 .ipt_box{
    height: 40px;
    z-index: 10
}

.box_7 .info{
    height: 40px;
    padding-top: 0;
    background-position: left 4px;
    line-height: 20px
}

.box_7 .info td{
    height: 23px
}

.box_7 .error,.box_8 .error{
    background-position: 0 -348px
}

.box_7 .birthdayTip{
    background: url(//6.url.cn/zc/chs/img/ok.png?v=10093) 0 4px no-repeat;
    color: grey;
    padding-left: 14px
}

.box_7 .gray{
    line-height: 20px;
    padding-left: 2px;
    color: grey
}

.box_7 .ipt_box .value_box{
    margin-left: 5px;
    line-height: 23px;
    overflow: hidden;
    height: 23px;
    word-wrap: break-word
}

.box_7 .ipt_box li{
    line-height: 20px;
    cursor: default;
    padding-left: 2px
}

.box_7 .ipt_box li.hover{
    background: #57a8e4
}

.box_7 #birthday_type_box,.box_7 #day_box,.box_7 #month_box,.box_7 #year_box{
    position: relative
}

.focus_date{
    background: url(//6.url.cn/zc/chs/img/type.png?v=10093) no-repeat!important
}

.box_7 #birthday_type_ul{
    position: absolute;
    top: 23px;
    left: 0;
    width: 56px;
    height: 40px;
    overflow: hidden;
    background: #F3F9FC;
    border: 1px solid #57a8e4;
    padding: 1px
}

.box_7 #day_ul,.box_7 #month_ul,.box_7 #year_ul{
    position: absolute;
    height: 150px;
    background: #F3F9FC;
    border: 1px solid #57a8e4;
    padding: 1px;
    top: 23px;
    left: 0
}

.box_7 #year_ul{
    width: 102px;
    overflow-y: scroll
}

.box_7 #day_ul,.box_7 #month_ul{
    width: 56px;
    overflow-y: scroll
}

#city_box,#country_box,#province_box{
    float: left;
    height: 23px;
    line-height: 23px;
    position: relative;
    width: 101px
}

.box .ipt_box .city_value,.box .ipt_box .country_value,.box .ipt_box .province_value{
    width: 92px;
    height: 23px;
    _height: 21px;
    line-height: 23px;
    border: none;
    display: inline-block;
    padding-left: 5px;
    color: #4199D7;
    background: 0 0
}

.box .ipt_box .area_value_bg,.box .ipt_box .area_value_bg_focus{
    width: 97px;
    height: 23px;
    line-height: 23px
}

.box .ipt_box .area_value_bg_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -106px -269px no-repeat
}

.box .ipt_box .area_value_bg{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -106px -246px no-repeat
}

.box .ipt_box #city_box ul,.box .ipt_box #country_box ul,.box .ipt_box #province_box ul{
    max-height: 200px;
    _height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #f3f9fc;
    position: absolute;
    left: 0;
    top: 23px;
    border: 1px solid #57a8e4;
    cursor: auto;
    padding: 1px
}

.box .ipt_box #city_box .noSearchResult,.box .ipt_box #country_box .noSearchResult,.box .ipt_box #province_box .noSearchResult{
    height: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #f3f9fc;
    position: absolute;
    left: 0;
    top: 23px;
    border: 1px solid #57a8e4;
    cursor: auto;
    padding: 1px
}

.box_8 .info,.box_8 .item{
    padding-top: 0;
    height: 40px
}

.box .ipt_box .disable_box{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -397px no-repeat
}

.box_8 .ipt_box li{
    padding-left: 3px
}

.box .ipt_box .value_box{
    margin-left: 5px;
    line-height: 23px;
    overflow: hidden;
    height: 23px;
    word-wrap: break-word
}

.box_8 .ipt_box{
    height: 40px;
    z-index: 9
}

.box_8 .info td{
    height: 23px
}

.box_8 .error{
    background-position-y: 5px
}

.box_8 .ok{
    background: url(//6.url.cn/zc/chs/img/ok.png?v=10093) 0 6px no-repeat;
    padding-left: 14px
}

.box .ipt_box #country_box ul{
    width: 163px
}

.box .ipt_box #city_box ul,.box .ipt_box #province_box ul{
    width: 93px
}

.box .ipt_box #city_box ul li,.box .ipt_box #country_box ul li,.box .ipt_box #province_box ul li{
    cursor: default;
    white-space: nowrap;
    line-height: 20px;
    height: 20px;
    overflow: hidden
}

.box .ipt_box #city_box ul li.hover,.box .ipt_box #country_box ul li.hover,.box .ipt_box #province_box ul li.hover{
    background: #57a8e4
}

.focus_loc{
    background: url(//6.url.cn/zc/chs/img/type.png?v=10093) no-repeat!important
}

.box_9 .item{
    height: 49px;
    padding-top: 15px
}

.box_9 .ipt_box{
    width: 306px;
    padding-left: 0
}

.box_9 .ipt_box input{
    font-weight: 700
}

.box_9 .code_bg{
    height: 64px
}

.box_9 .code_bg input{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -70px no-repeat;
    border: none;
    height: 37px;
    line-height: 38px;
    width: 150px;
    font-size: 24px;
    padding: 8px;
    float: left
}

.box_9 .code_bg input.focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -123px
}

.box_9 .info{
    height: 74px;
    padding: 0;
    width: 248px
}

.box_9 input{
    font-family: Verdana,Geneva,sans-serif
}

.box_9 .info span{
    color: red;
    display: inline-block;
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -353px no-repeat;
    padding-left: 15px
}

.box_9 .info span.change{
    color: #4199d7;
    cursor: pointer;
    margin-bottom: 0;
    background: 0 0;
    padding-left: 0
}

.box_9 .info span.tips{
    color: grey;
    padding-left: 0;
    background: 0 0
}

.box_10 .item{
    height: 25px;
    padding-top: 0
}

.box_10 .qzone_box{
    height: 25px
}

.box_10 .qzone_box a{
    display: inline-block;
    line-height: 18px;
    height: 18px;
    padding: 0 20px;
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -253px no-repeat;
    color: #000;
    cursor: pointer
}

.box_10 .qzone_box .checked{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -292px no-repeat;
    color: inherit
}

.box_10 .qzone_box .unchecked{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -253px no-repeat;
    color: grey
}

.box_10 .qzone_box .checked_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -478px no-repeat;
    color: inherit
}

.box_10 .qzone_box .unchecked_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -446px no-repeat;
    color: grey
}

.box_11{
    height: 90px
}

.box_11 .ipt_box{
    height: 90px;
    background: 0 0;
    padding-left: 0
}

.box_11 .ipt_box .agree_box{
    height: 35px
}

.box_11 .ipt_box .agree_box .a_1{
    display: block;
    float: left;
    line-height: 18px;
    height: 18px;
    padding-left: 20px;
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -253px no-repeat;
    cursor: pointer;
    margin-right: 10px;
    color: red
}

.box_11 .ipt_box .agree_box .checked{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -292px no-repeat;
    color: #000
}

.box_11 .ipt_box .agree_box .unchecked{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -253px no-repeat;
    color: grey
}

.box_11 .ipt_box .agree_box .checked_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -478px no-repeat;
    color: #000
}

.box_11 .ipt_box .agree_box .unchecked_focus{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) -300px -446px no-repeat;
    color: grey
}

.box_11 .ipt_box .agree_box .x_box{
    float: left;
    cursor: pointer;
    position: relative;
    top: 3px
}

.box_11 .ipt_box .agree_box .x_box div{
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) -35px -319px no-repeat #F8FDFF;
    width: 19px;
    height: 13px;
    position: relative;
    z-index: 1
}

.box_11 .ipt_box .agree_box .x_box p{
    position: absolute;
    width: 161px;
    left: 0;
    top: 12px;
    border: 1px solid #74b4ef;
    z-index: 0;
    display: none
}

.box_11 .ipt_box .agree_box .show div{
    background-position: -16px -319px
}

.box_11 .ipt_box .agree_box .show p{
    display: block;
    padding: 5px
}

.box_11 .ipt_box .agree_box .show p a{
    line-height: 20px
}

.box_11 .ipt_box .submit input{
    background: #57A8E4;
    display: inline-block;
    height: 52px;
    width: 306px;
    text-align: center;
    cursor: pointer;
    font: 22px/52px "微软雅黑";
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent
}

.box_11 .ipt_box .submit input.disabled{
    background: #f4f9fd;
    color: #888;
    cursor: default;
    border-color: #d0dae3
}

.chk_email_code .div_3 a,.chk_email_code .div_3 img,.getverima div,.phone_del{
    cursor: pointer
}

.cover{
    width: 100%;
    height: 900px;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    z-index: 100;
    display: none;
    filter: alpha(opacity=30);
    opacity: .3
}

.box_{
    width: 900px;
    margin: 0 auto;
    height: 0;
    position: relative;
    z-index: 101
}

.chk_email_code{
    width: 420px;
    position: absolute;
    left: 250px;
    top: 200px;
    background: #fff;
    height: 280px;
    border: 1px solid #74b4ef;
    z-index: 100;
    display: none
}

.chk_email_code a.close{
    position: absolute;
    height: 32px;
    width: 32px;
    background: url(//6.url.cn/zc/chs/img/close.png?v=10093) center center no-repeat;
    right: 1px;
    top: 1px;
    cursor: pointer
}

.chk_email_code h2{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    background: #b4d8f3;
    padding-left: 10px
}

.chk_email_code .div_1{
    padding-left: 70px;
    margin: 30px 0;
    color: red;
    font-weight: 700;
    position: relative
}

.chk_email_code .div_1 .chkError{
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -353px no-repeat;
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    *top: 1px;
    display: inline-block
}

.chk_email_code .div_2{
    background: url(//6.url.cn/zc/chs/img/email_code_ipt.png?v=10093) 130px top no-repeat;
    height: 22px
}

.chk_email_code .div_2 span{
    display: inline-block;
    text-align: right;
    width: 130px;
    line-height: 22px;
    padding-right: 2px
}

.chk_email_code .div_2 input{
    background: 0 0;
    border: none;
    width: 119px;
    ime-mode: disabled
}

.chk_email_code .div_3{
    padding-left: 130px;
    line-height: 30px
}

.chk_email_code .div_3 input{
    background: url(//6.url.cn/zc/chs/img/mail_code_btn_chs.png?v=10093) no-repeat;
    border: none;
    width: 55px;
    height: 22px
}

#email_code_ipt_err{
    color: red;
    display: none
}

.box_11,a{
    outline: 0
}

.method_box .tahoma{
    font-family: Tahoma;
    line-height: 18px;
    height: 18px;
    color: #84A8C8
}

.method_box a: hover,.method_box a: hover .tahoma{
    color: #4199d7
}

#password,#password_again{
    font-family: Arial,Helvetica,sans-serif
}

.red_bg{
    background-color: #C30;
    color: #fff;
    height: 20px;
    line-height: 20px
}

.paopao,.paopao .p_l,.paopao .p_r{
    height: 31px;
    position: absolute
}

.paopao{
    background: url(//6.url.cn/zc/chs/img/pao_c.png?v=10093) repeat-x;
    z-index: 10;
    white-space: nowrap
}

.paopao .p_l{
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -387px no-repeat;
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 8px;
    top: 0
}

.paopao .p_r{
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -423px no-repeat;
    display: inline-block;
    right: 0;
    width: 5px
}

.pwd_info{
    position: relative
}

.pwd_tips{
    width: 158px;
    height: 71px;
    padding-top: 6px;
    position: absolute;
    top: -18px;
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) no-repeat
}

.pwd_tips div{
    height: 22px;
    line-height: 22px;
    margin-left: 15px;
    padding-left: 18px
}

.pwd_tips .default{
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -215px no-repeat
}

.pwd_tips .yes{
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -247px no-repeat
}

.pwd_tips .no{
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) 0 -281px no-repeat
}

.pwd_info .password_info{
    vertical-align: top;
    color: grey
}

.phone_tips{
    width: 240px;
    z-index: 100;
    left: 190px;
    top: -31px
}

.arrow,.phone_del{
    top: 7px;
    position: absolute
}

.phone_del{
    width: 21px;
    height: 21px;
    right: 14px;
    background: url(//imgcache.qq.com/ptlogin/v4/style/33/images/icon_3_tiny.png) -116px -160px no-repeat;
    _background: url(//imgcache.qq.com/ptlogin/v4/style/33/images/icon_3_8.png) -116px -160px no-repeat
}

.arrow{
    right: 1px;
    width: 13px;
    height: 8px;
    line-height: 14px;
    background: url(//6.url.cn/zc/chs/img/pwd_sprite.png?v=10093) -40px -323px no-repeat
}

.web_notice{
    background: #FFF6CD;
    height: 22px;
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
    z-index: 9999
}

.web_notice_text{
    line-height: 22px;
    margin: 0 auto;
    width: 956px;
    text-align: center;
    font-family: Tahoma;
    color: #5D6161
}

#verima_bg{
    background: url(//6.url.cn/zc/chs/img/ipt.png?v=10093) 0 -597px no-repeat;
    width: 169px
}

#verima_bg.bg_focus{
    background-position-y: -634px
}

#verima_bg.bg_error{
    background: url(//6.url.cn/zc/chs/img/input_error.png?v=10093) 0 -151px no-repeat
}

#verima_ipt_box{
    width: 179px
}

#verima_ipt_box input{
    width: 153px
}

.getverima{
    width: 121px;
    float: left
}

.getverima span{
    color: #fff
}

.getverima .sended span{
    color: #888
}

.getverima div{
    background: #69b946;
    color: #fff;
    display: inline-block;
    font: 16px/33px "微软雅黑","宋体";
    height: 31px;
    text-align: center;
    width: 119px;
    padding-bottom: 3px;
    _padding-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent
}

.getverima div.sended{
    color: #888;
    background: #f4f9fd;
    border-color: #d0dae3
}

#timeLeft,#verimaTip{
    font-size: 15px
}

.box_phone_tip{
    position: relative;
    top: -10px
}

.green{
    color: green
}

#up_box p{
    font-size: 14px
}

#up_box .tip{
    margin-top: 5px;
    margin-bottom: 15px
}

#x_box>p{
    background: #f8fdff
}

.disabled{
    background: #f4f9fd;
    border-color: #d0dae3;
    color: #888
}


/*# sourceMappingURL=index.css.map */
